```dotenv
LIVEKIT_URL=wss://project-name.livekit.cloud
```
```dotenv
LIVEKIT_API_KEY=API-KEY
```
```dotenv
LIVEKIT_API_SECRET=API-SECRET
```

```dotenv
GOOGLE_API_KEY=API-KEY
```
# Enable at: https://myaccount.google.com/apppasswords
GMAIL_APP_PASSWORD=password
```dotenv
GMAIL_USER=email@gmail.com
```